{minimum_otp_vsn, "21.1"}.

{base_dir, "_build"}.

{deps_dir, "lib"}.

{root_dir, "."}.

{
  erl_opts,
  [
    debug_info,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    warn_missing_spec,
    warn_untyped_record
  ]
}.

{deps, []}.

{
  profiles,
  [
    {
      test,
      [
        {escript_emu_args, "%%! +Bc +sbtu +A0\n"},
        {
          erl_opts,
          [
            debug_info,
            warnings_as_errors,
            nowarn_export_all,
            nowarn_missing_spec,
            {d, 'TEST', true}
          ]
        },
        {deps, []},
        {plugins, [steamroller]},
        {
          steamroller,
          [
            {line_length, 100},
            {indent, 2},
            {inputs, ["rebar.config", "{src,test,include}/*.{[he]rl,app.src}"]}
          ]
        }
      ]
    },
    {
      lint,
      [
        {
          plugins,
          [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.11"}}}]
        }
      ]
    }
  ]
}.
